.Englobational-Div{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.Page-Div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Centralize-Text-Input {
    display: flex;
    font-weight: 400;                        
    letter-spacing: 0.05em;           
    color: gray;                      
}

.Recover-input{
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Recover-input:focus-visible{
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 15px;
    outline: none;
}

.LoginButton{
    border-radius: 0;
    width: 100%;
    height: 3.5rem;
    background-color:#7b74d3;
    margin-top: 10px;
}

.LoginButton:hover {
    background-color: #5a52b9;
}

.LoginButton:active {
    transform: scale(0.995);
    background-color: #5a52b9;
    border: none;
}

.Recovery-Title{
    padding-bottom: 35px;
}

.Recovery-Title > h1{
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #7b74d3;
}

.passwordReq{
    display: flex;
    flex-direction: column;
    color: gray;
}