<div class="Page-Div">
    <div class="Recovery-Title">
        <h1>Recovery Password</h1>
    </div>
    @if(!SendedCode){
        <div class="Englobational-Div">
            <label class="Centralize-Text-Input">Enter the recovery email:</label>
            <input class="Recover-input" type="email" placeholder="exemplo@email.com" #InputEmail>
            @if(SendEmailReport != null){
                <label [style.color]="ReportTextColor" class="Centralize-Text-Input">{{SendEmailReport}}</label>
            }
            <button class="btn btn-primary LoginButton" (click)="SendCode(InputEmail.value)" >Send Code</button>
        </div>
    }
    @if(SendedCode){
        <div class="Englobational-Div">
            <label class="Centralize-Text-Input">Enter the recovery code</label>
            <input class="Recover-input" type="tel" inputmode="numeric" [(ngModel)]="InputCode" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            <label class="Centralize-Text-Input">New Password</label>
            <input class="Recover-input" type="password" [(ngModel)]="InputPassword" (ngModelChange)="DebouncePassword.next(InputPassword)">
            <label class="Centralize-Text-Input">Confirm Password</label>
            <input class="Recover-input" type="password" [(ngModel)]="InputPasswordConfirm">
            @if(SendCodeReport != null){
                <label style="color: red; padding-bottom: 10px;" class="Centralize-Text-Input">{{SendCodeReport}}</label>
            }
            @if(InputCode.length != 6 && InputCode.length != 0){
                <label style="color: red; padding-bottom: 10px;" class="Centralize-Text-Input">Code must have 6 digits</label>
            }
            @if(!(InputPassword == InputPasswordConfirm) && InputPassword.length != 0 && InputPasswordConfirm.length != 0){
                <label style="color: red; padding-bottom: 10px;" class="Centralize-Text-Input">The passwords aren't equals</label>
            }
            <div class="passwordReq">
                <label style="color: black;">A senha deve conter:</label>
                <label [style.color]="VerificationList[0]? 'green' : 'gray'"> * No minimo 8 caracteres</label>
                <label [style.color]="VerificationList[1]? 'green' : 'gray'"> * No minimo 1 letra maiúscula</label>
                <label [style.color]="VerificationList[2]? 'green' : 'gray'"> * No minimo 1 letra minúscula</label>
                <label [style.color]="VerificationList[3]? 'green' : 'gray'"> * No minimo 1 número</label>
                <label [style.color]="VerificationList[4]? 'green' : 'gray'"> * No minimo 1 caractere especial </label>
              </div>
            <button [disabled]="!IsPasswordValid || (InputCode.length != 6) || !(InputPassword == InputPasswordConfirm)" class="btn btn-primary LoginButton"
             (click)="VerifyCode(InputCode, InputPassword, InputPasswordConfirm)">Verify Code</button>
        </div>
    }
</div>

