.Disabled-Space-Between-Search{
    margin-right: 0 !important;
}

#map { height: 94vh; }

.Centralize-Text-Input {
    display: flex;
    font-weight: 400;                        
    letter-spacing: 0.05em;           
    color: gray;                      
}
